.artist-image {
    width: 200px;
    height: 200;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 10%);
}

.gig-listing p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);
}

.gig-listing h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);
}