.artist-image {
    width: 200px;
    height: 200;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 10%);
}

.gig{
    margin-bottom: 20px;
    border:1px solid black;
    padding:10px;
    border-radius: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.heart-button {
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    outline: none;
    transition: color 0.1s;
}

.heart-button:hover {
    color: rgb(230, 45, 45);
}

.heart-button.liked {
color: rgb(230, 45, 45);
}

.heart-button.liked:hover {
    color: black;
}


/* .gig-listing h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);
} */